.wind-milestones
  margin: 0.75rem auto 0
  font-size: 1rem

.wind-milestones tr:nth-child(even)
  background: var(--table-stripe)
  border: solid var(--background)
  border-width: 2px 0

.wind-milestones th,
.wind-milestones td
  padding: 0.25rem 0.5rem

.wind-milestones th
  font-weight: 400
  text-align: left
